<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="div-nav">
      <nav>
        <ul>
        <li><a href="/" class="a-nav">Home</a></li>
        {{#if loggedIn}}
        <li><a href="/dashboard" class="a-nav">dashboard</a></li>
        <li><button id="logout" class="btn-no-style a-nav">logout</button></li>
        {{else}}
        <li><a href="/login" class="a-nav">login</a></li>
        {{/if}}
        </ul>
      </nav>
      </div>
      <br>
      <div class="div-tech-blog">
      <span class="h1-header">The Tech Blog</span>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>